$maxCols: 12; // roughly 1KB per col
$gutter: 15px;

.collist{
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	& > li {
		box-sizing: border-box;
		vertical-align: top;
	}
}

.oldIE .collist > li{
	display: inline-block;
	margin-right: -4px;
}

.collist{
	@for $n from 1 through $maxCols{
		&.sm-row-#{$n} > li{
			@media (max-width: 480px){
				width: calc((100% / #{$n}) - (#{$gutter} * (#{$n - 1})) / #{$n});
				&:not(:nth-child(#{$n}n + 1)){
					margin-left: $gutter;
				}
				&:not(:nth-child(-n+#{$n})){
					margin-top: $gutter;
				}
			}
		}
		&.md-row-#{$n} > li{
			@media (min-width: 481px) and (max-width: 767px){
				width: calc((100% / #{$n}) - (#{$gutter} * (#{$n - 1})) / #{$n});
				&:not(:nth-child(#{$n}n + 1)){
					margin-left: $gutter;
				}
				&:not(:nth-child(-n+#{$n})){
					margin-top: $gutter;
				}
			}
		}
		&.lg-row-#{$n} > li{
			@media (min-width: 768px) and (max-width: 1023px){
				width: calc((100% / #{$n}) - (#{$gutter} * (#{$n - 1})) / #{$n});
				&:not(:nth-child(#{$n}n + 1)){
					margin-left: $gutter;
				}
				&:not(:nth-child(-n+#{$n})){
					margin-top: $gutter;
				}
			}
		}
		&.xl-row-#{$n} > li{
			@media (min-width: 1024px){
				width: calc((100% / #{$n}) - (#{$gutter} * (#{$n - 1})) / #{$n});
				&:not(:nth-child(#{$n}n + 1)){
					margin-left: $gutter;
				}
				&:not(:nth-child(-n+#{$n})){
					margin-top: $gutter;
				}
			}
		}
	}
}
